# Mengabaikan virtual environment
venv/
env/

# Mengabaikan file cache Python
__pycache__/
*.pyc

# MENGABAIKAN FILE RAHASIA STREAMLIT (SANGAT PENTING!)
.streamlit/secrets.toml

# Mengabaikan database lokal lama (karena kita sudah pakai Supabase)
*.db